@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.navbar{
    position: fixed;
    z-index: 2000;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: $gutter-small;
    background: $dark;
    color: white;
   @include respond-to(medium){
        justify-content: initial;
        padding: $gutter-medium;
    }
    @include respond-to(xlarge){
        padding: $gutter-large;
        justify-content: space-between;
    }
}
.navbar::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 1px;
    background: #979797;
    content: '';
    @include respond-to(medium){
        margin: $gutter-medium;
    }
    @include respond-to(xlarge){
        margin: $gutter-large;
    }
}
.navbar ul{
    display: none;
    @include respond-to(xlarge){
        display: flex;
    }
}
.navbar ul a:not(:last-child){
    margin-right: 33px;
}
.navbar ul li{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 13px;
    font-weight: 400;
}
.navbar ul li:hover{
    color: $feature;
    cursor: pointer;
}
.logo{
    height: 25px;
    width: 143px;
    background: url('/images/shared/desktop/logo.svg');
    @include respond-to(medium){
        margin-right: auto;
        margin-left: 42px;
    }
    @include respond-to(xlarge){   
        margin-right: initial;
        margin-left: 0;
    }
}
.cartLogo{
    height: 20px;
    width: 23px;
    background: url('/images/shared/desktop/icon-cart.svg');
}
