.included{
    padding: $gutter-small;
    @include respond-to(medium){
        display: flex;
    }
    @include respond-to(xlarge){
        flex: 1;
        display: initial;
    }
}
.included h3{
    @include respond-to(medium){
       flex: 1;
    }
}

.included-list{
    margin-top: 36px;
    margin-bottom: 98px;
    @include respond-to(medium){
        flex: 1;
        margin-top: 0;
     }
    @include respond-to(xlarge){
        margin-top: 36px;
     }
}
.included-list li{
    display: flex;
}
.included-list li:not(:last-child){
    margin-bottom: 8px;
}
.included-list__quantity{
    color: $feature;
    padding-right: 23px;
}