.product-single{
    padding: $gutter-small;
    @include respond-to(large){
        display: flex;
    }
    @include respond-to(xlarge){
        padding: $gutter-large;
    }
}
.product-single__not-image{
   @include respond-to(large){
       padding: 40px 0 0 60px;
}
    @include respond-to(xlarge){
        flex: 1;
        padding: 60px 0 60px 60px;
    }
}
.product-single__p{
    margin-top: 38px;
    @include respond-to(xlarge){
        max-width: 500px;
    }
}
.product-single__price{
    padding: 34px 0 38px 0;
    font-size: 18px;
    .dollar-sign{
        padding-right: 10px;
    }
}
.product-single__image{
    width: 100%;
    height: 327px;
    background: $light;
    margin-bottom: 32px;
}

.product-single-images{
    padding: $gutter-small;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 174px) 368px;
    gap: 20px;
    margin-bottom: 120px;
    @include respond-to(medium){
        grid-template-columns: 23fr 36fr;
        grid-template-rows: 174px 174px;
    }
    @include respond-to(xlarge){
        padding: $gutter-large;
        grid-template-rows: 280px 280px;
    }
}
.product-single-images > div{
    border-radius: 8px;
}