.button-one, .button-two, .button-three, .back-button{
    cursor: pointer;
}
.button-one, .button-two{
    height: 48px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 13px;
}
.button-one{
    background-color: $feature;
    color: white;
    border: none;
    &:hover{
        background-color: $feature-light;
    }
}
.button-two{
    border: 1px solid black;
    color: black;
    &:hover{
        background-color: black;
        color: white;
    }
}
.button-three{
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: 13px;
    opacity: .5;
    &:hover{
        color: $feature;
    }
}
.back-button{
    padding: 16px 0 34px 24px;
    margin-top: 124px;
    @include respond-to(xlarge){
        padding: $gutter-large;
        padding-bottom: 34px;
    }
}