.nav-dropdown {
    margin-top: 90px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: $white;
    z-index: 1000;
    border-radius: 0px 0px 8px 8px;
    display: none;
    .categorys{
        margin-bottom: 32px;
        margin-top: 40px;
    }
    .categorys__product{
       margin-bottom: 30px;
       height: 165px;
    };
    h6 {
       padding-bottom: 0;
    };
    div[class^='categorys__image']{
        transform: scale(1.2);
        margin-top: -10px;
    }
}
.nav-dropdown.active{
    display: initial
}

.modal-backdrop{
    display: none;
    background: black;
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    opacity: .7;
}

